.titulos{
    margin-top: 70px !important;
}

 h1, h2, h3, h4{
    text-align: center;
 }

.family{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#imgPersonajes{
    width: 500px;
    display: flex;
    padding: 5px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.buttons{
    display: flex;
    flex-direction: column;
    padding: 3px;
    text-decoration: solid;
}

.body{
    background-color: aquamarine;
    padding: 0;
    margin: 0;
    text-align: center;
}

.container{
    width: 95vw;
    height: 95vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado{
    background-color: white;
    min-width: 300px;
    width: 70%;
    padding: 10px;
}

.categoria{
    opacity: 0.3;
    text-align: left;
}

.pregunta{
    padding: 10px;
}

.imgTrivia{
    object-fit: cover;
    width: auto;
    height: 200px;
}

.boton:hover{
    
    cursor: pointer;
}

.box{
    border: #0d6efd 5px solid;
}

.titulo{
    font-weight: bold ;
    margin-top: 1px!important;
    background-color: rgb(183, 214, 241);
    border: #0d6efd 1px solid;
}

.data{
    margin-top: 1px!important;
    background-color: rgb(183, 214, 241);
    border: #0d6efd 1px solid;
}